<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <div id="blog-posts"></div>
    <div class="blog-post">
        <h2>{{ blogpost.title }}</h2>
        <p>Author: {{ blogpost.author }}</p>
        <p>Date Published: {{ blogpost.date_published }}</p>
        <p>{{ blogpost.article }}</p>
    </div>
        <script src="/js/Blogpost.js"></script>
</body>
</html>